body{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", serif;
}

.logo{
    border: 0px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.list ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
      /* display: flex; 
      flex-direction: row;
      justify-content: space-around; */
      padding: 20px;    
      list-style: none;
      color: #859098;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

a{
    text-decoration: none;   
}

li:hover{
    color: red;
}

.pra{
    text-align: center;
    line-height: 60px;
}

.textbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.img{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-image: url(premium_photo-1661915282028-ecec0eafd746.avif);
   height: 600px;
   background-size: cover;
   background-repeat: no-repeat;
    width: auto;
    background-position: center;
} 

.textbox input{
    height: 60px;
    width: 300px;
    border: 0px;
     outline: none; 
    background: transparent;
     color: white; 
     font-size: 15px;
} 

.textbox label{
    /* background: transparent; */
    color: black;
    font-size: 15px;  
}

#b1{
    height: 70px;
    width: 120px;
    background-color:#ff545a; 
    color: #fff;
    font-size: 17px;  
}

.textbox1{
    /* border: 2px solid black; */
    border-top: 2px solid rgb(243, 241, 241);
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0px 10px 0px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;  
}

.textbox2{
    /* border: 2px solid black; */
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding: 0px 10px 0px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    background-color: white; 
}

.search{
    margin-left: 40px; 

}

.search button:hover {
     background-color: #f43032;   
}

.p{
    font-size: 25px;
    color: #fcfcfc;
    /* margin-top: 25px;  */
}

.h{
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    line-height: 1.2;
}

.box1{
    border: 2px solid black;
    border: none;
    height: 170px;
    width: 204px; 
    background-color: #fff;
    box-shadow: 1px 3px 5px ;
     transition: .3s linear;
}

 .box1c {
   text-align: center;
   font-size: 25px;
   padding: 20px;
} 
.listings{
    font-size: 16px;
}

i{
    font-size: 30px;
}
.box2{
    border: 2px solid black;
    border: none;
    height: 170px;
    width: 204px; 
    background-color: #fff;
    box-shadow: 1px 3px 5px ;
    transition: .3s linear;
}

.box2c {
    text-align: center;
    font-size: 25px;
    padding: 20px;
 } 

 .box3 {
    border: 2px solid black;
    border: none;
    height: 170px;
    width: 204px; 
    background-color: #fff;
    box-shadow: 1px 3px 5px ;
    transition: .3s linear;
 }
 
 .box3c{
    text-align: center;
    font-size: 25px;
    padding: 20px;
 }

 .box4 {
    border: 2px solid black;
    border: none;
    height: 170px;
    width: 204px; 
    background-color: #fff;
    box-shadow: 1px 3px 5px ;
    transition: .3s linear;
 }

 .box4c{
    text-align: center;
    font-size: 25px;
    padding: 20px;
 }

 .box5 {
    border: 2px solid black;
    border: none;
    height: 170px;
    width: 204px; 
    background-color: #fff;
    box-shadow: 1px 3px 5px ;
    transition: .3s linear;
 }

 .box5c{
    text-align: center;
    font-size: 25px;
    padding: 20px;
 }

 .box {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    position: relative; 
    top: -85px;
    z-index: 1;
    margin-right: 100px;
    margin-left: 100px;
 }

 .box1:hover{
    
    background-color: #ff545a; 
 }
 .box2:hover{  
    background-color: #ff545a; 
 }
 .box3:hover{
    background-color: #ff545a; 
 }
 .box4:hover{
    background-color: #ff545a; 
 }
 .box5:hover{
    background-color: #ff545a; 
 }

 .text{
    line-height: 35px;
    text-align: center;
 }

 .text p{
    font-size: 18px;
 }
.mbox1c{
    border: 2px solid gray;
    box-shadow: 0px 0px 5px;
    width: 345px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon1{
    background-color: whitesmoke;
    border: 2px solid gray;
    width: fit-content;
    padding: 20px;
    border-radius: 50%;
}

.mbox1:hover { 
    background-color: #ff545a;

}
.bu1 button{
    height: 30px;
    width: 90px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid gray;
    margin-top: 15px;
}
.mbox2c{
    border: 2px solid gray;
    box-shadow: 0px 0px 5px;
    width: 345px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon2{
    background-color: whitesmoke;
    border: 2px solid gray;
    width: fit-content;
    padding: 20px;
    border-radius: 50%;
}
.mbox2:hover { 
    background-color: #ff545a;

}
.bu2 button{
    height: 30px;
    width: 90px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid gray;
    margin-top: 15px;
}
.mbox3c{
    border: 2px solid gray;
    box-shadow: 0px 0px 5px;
    width: 345px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.icon3{
    background-color: white;
    border: 2px solid gray;
    width: fit-content;
    padding: 20px;
    border-radius: 50%;
}
.mbox3:hover { 
    background-color: #ff545a;

}
.bu3 button{
    height: 30px;
    width: 90px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid gray;
    margin-top: 15px;
    
}

.mainbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    margin-right: 150px;
    margin-left: 150px;
}

.news{
    text-align: center;
    margin-top: 70px;
}
.news1{
    font-size: 18px;
    color: #767f86;
}
.news h2{
    color: #505866;
}
 .nbox1{
    border: 2px solid whitesmoke;
   height: 540px;
   width: 400px;
   text-align: center;
   padding: 0px 0px 15px 0px;
   
} 

.nimg1 img{
    height: 280px;
    width: 400px;
} 

.date1{
    display: flex;
    flex-direction: row;
    justify-content:center;  
}

.border{
     border-right: 1px solid black;
    padding-right: 12px; 
    color: #767f86;
}
.border b{
    color: black;
}

.border1{
    padding-left: 12px; 
    color: #767f86;
}

.npra1{
    color: #767f86;
}

.nbox2{
    border: 2px solid whitesmoke;
    height: 540px;
    width: 400px;
   text-align: center;
   padding: 0px 0px 15px 0px;
   
} 

.awesom:hover{
    color: red;
}



.date2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.npra2{
    color: #767f86;
}

.nbox3{
    border: 2px solid whitesmoke;
    height: 540px;
    width: 400px;
   text-align: center;
   padding: 0px 0px 15px 0px;
   
} 

.nimg3 img{
    height: 280px;
    width: 330px;
} 

.date3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.npra3{
    color: #767f86;
}

.nbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px; 
    margin-bottom: 50px;
}

.nbox1:hover{
    box-shadow: 2px 2px 10px;
}
.nbox2:hover{
    box-shadow: 2px 2px 10px; 
}
.nbox3:hover{
    box-shadow: 1px 1px 10px; 
}

.bl{
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
}
.bl1{
    text-align: center;
    font-size: 20px;
    color: #7b8088;
    margin-bottom: 50px;

}

.inputform{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    
}

.form{
   
}

.inputform input{
    height: 50px;
    width: 400px;
    margin: 20px 0px 20px 0px;
    background-color: white;
    border: 0px;
    outline: none;
    box-shadow: 0px 0px 5px;
    text-align: center;
    font-size: 20px;
}

.form input:hover{
 
    box-shadow: 0px 0px 15px;
}



.fm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(https://thumbs.dreamstime.com/b/registration-hand-pressing-button-interface-blue-background-49410297.jpg);
    background-repeat: no-repeat;
    background-color:#012148;
   
}
.map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

iframe{
   
    box-shadow: 0px 0px 20px white;
}

iframe:hover{
   
    box-shadow: 0px 0px 40px white;
    scale: 1.1;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.logomain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.number{
    margin-right: 40px;
}
.number:hover{
    color: #ff545a;
}
.fa-phone{
    font-size: 20px;
}

.fa-copyright{
    font-size: 15px;
    margin-right: 5px;
}

.logos{
    

}
.fa-facebook{
    padding: 10px;
    font-size: 20px;
}

.fa-twitter{
    padding: 10px;
    font-size: 20px;
}

.fa-linkedin{
    padding: 10px;
    font-size: 20px;
}
.fa-google-plus-g{
    padding: 10px;
    font-size: 20px;
}

#i1:hover{
    color: #ff545a;
}
#i2:hover{
    color: #ff545a;
}
#i3:hover{
    color: #ff545a;
}
#i4:hover{
    color: #ff545a;
}


#i1{
    border: 2px solid whitesmoke;
    border-radius: 50%;
    background-color: #eef2f6;;
    margin-right: 15px;
}
#i2{
    border: 2px solid whitesmoke;
    border-radius: 50%;
    background-color: #eef2f6;
    margin-right: 15px;
}

#i3{
    border: 2px solid whitesmoke;
    border-radius: 50%;
    background-color: #eef2f6;
    margin-right: 15px;

}
#i4{
    border: 2px solid whitesmoke;
    border-radius: 50%;
    background-color: #eef2f6;
    margin-right: 15px;
}

 
 
 
 
